
@font-face {
  font-family: "Droid Sans Mono";
  src: url(alagard.woff2) format("woff2");
}
body {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
  text-align: center;
  min-height: 80vh;
  font-size: 19px;
  background-color: #313131;
  font-family: "Droid Sans Mono";
  background-size: auto;
  background-blend-mode: overlay;}
.rainbow {
  text-decoration: underline;
  letter-spacing: 10px;
}
.rainbow_text_animated {
  background: linear-gradient(
    to right,
    #ff0000,
    #fbff00,
    #2bff00,
    #00ffdd,
    #c300ff
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 1s ease-in-out infinite;
  background-size: 300% 100%;
}
@keyframes rainbow_animation {
  0%,
  100% {
    background-position: 0 0;
  } 
  50% {
    background-position: 100% 0;
  }
}